
<% include ../partials/header %>


<div class="container">
    <header class="jumbotron">
        <div class="container">

            <h1>Welcome to the jazz closet</h1>
            <p>view our handpicked records from all over the world</p>
            
                <a class="btn btn-primary btn-lg" href="/records/new">Add new Record</a>
            <p>
        </div>
        </p>
    </header>

    <div class="row" >
        
        <% records.forEach( record => { %>
            <div class='col-md-3 col-sm-6'>
                <div class="thumbnail">
                    <img src="<%= record.image %>" alt="record image">    
                    <div class="caption">
                        <h4> <%= record.name %> </h4>
                    </div>
                    <p>
                        <a href="/records/<%= record._id %>" class="btn btn-primary">More Info</a>
                    </p>
                </div>
            </div>
        
        <% }) %>
    </div>

</div>

<% include ../partials/footer %>